body
{
    background-color: #000000;
    background-image: url("images/bloodmoon.jpg");
    background-position: right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
}

.content
{
    background-color: #adad85;
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 750px;
  margin-left: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    color: #000000; 
    background-position: left;
    -webkit-text-stroke: 0.5px red;
   font-size: 20px;
}

.header {
  background-color: #979797;
  text-align: center;
  padding: 20px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}