body
{
    
  background-color:#000000;
  background-image: url("images/yharnam_wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  
}

.header {
  background-color: #979797;
  text-align: center;
  padding: 50px;
  margin: 50px;
  border-radius: 5px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  margin: 50px;
  border-radius: 5px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.content
{
    background-color: #979797;
    margin: 50px;
    padding: 100px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

h1{
    color:#8B0000;
    background-image: url("images/yharnam_wallpaper.jpg");
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 200px;
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue', 
                            helvetica, arial, sans-serif;
            font-weight: 800;
  background-position: center;
  font-size: 45px;
  
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
          
    text-decoration-style:double; 
  text-transform: uppercase; 
  letter-spacing: 20px;
  -webkit-text-stroke: 2px black;
       
}