body
{
    
  background-color:#000000;
    
}

.header {
  background-color: #979797;
  text-align: center;
  padding: 20px;
}

table
{
    
    color:#FFFFFF;
    
}

tr
{
    
    color:#FFFFFF;
    
}

th
{
    
    color:#FFFFFF;
    
}

td
{
    
    color:#FFFFFF;
    
}

h4{
    color:#FFFFFF;
}
