body
{
    
  background-color:#000000;
    
}

table
{
    
    color:#FFFFFF;
    
}

tr
{
    
    color:#FFFFFF;
    
}

th
{
    
    color:#FFFFFF;
    
}

td
{
    
    color:#FFFFFF;
    
}

h4{
    color:#FFFFFF;
}